.biografia{
    background-color: rgb(206, 215, 221);
    text-align: justify;
    width: 300px;
    padding: 20px;
    font-size: large;

}
.fotografia{
    margin-top: 50px;
    width: 75%;
}
.titulo{
    font-size: 50px;
    text-align: center;
    padding-top: 15% 10%;
    font-weight: bold;
    color: aliceblue;
}
.textoBienvenida{
    text-align: center;
    color: aliceblue;
    font-size: large;
    padding: 10px 10px;
}
.fondo{   
  background-image: url('welcome.jpg');  
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 20px;
  margin: 10px 10px;
}

.columna {
    width:50%;
    float:left;
}
  
@media (max-width: 500px) {  
    .columna {
      width:auto;
      float:none;
    }
}