.biografia{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    font-size: auto;
    height: fit-content;
    align-content: center;
    vertical-align: middle;
    align-self: center;

}
.fotografia{
    width: 100%;
    align-content: center;
    padding: 5% 5%;
    margin: 5px 5px;
}
.titulo{
    font-size: 50px;
    text-align: center;
    padding-top: 15% 10%;
    font-weight: bold;
    color: aliceblue;
    grid-row: 2 / 3;
}
.textoBienvenida{
    text-align: center;
    color: aliceblue;
    font-size: large;
    padding: 10px 10px;
    grid-row: 3 / 4;
}
.paginaBienvenida {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
}
.fondo{   
  background-image: url('welcome.jpg');  
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 20px;
  margin: 10px 10px;
}
.nombre {
    text-align: center;
    margin: 5px 5px;
    color: white;
    font-weight: bold;
}
.datosContacto {
    padding-bottom: 5%;
    margin-bottom: 10ox;
}
.social-icon {
    color: white;
}

